<!--
  templateType: global_partial
  label: Breadcrumbs
-->

<nav class="breadcrumb__breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
    <h2 class="visually-hidden" id="system-breadcrumb">
      Breadcrumb
    </h2>
    <ol class="breadcrumb__container">
      <li class="breadcrumb__item">
        <a class="breadcrumb__link link" href="https://www.facinghistory.org">
          Home
        </a>
      <svg class="breadcrumb__icon" xmlns="http://www.w3.org/2000/svg" width="17" height="26" viewBox="0 0 17 26"><polyline fill="none" stroke="#009EAB" stroke-width="3" points="1266 35 1254 47 1242 35" transform="matrix(0 1 1 0 -33 -1241)"></svg>
      </li>
      <li class="breadcrumb__item">
          Communication Preferences
      </li>
  </ol>
</nav>