<!--
  templateType: global_partial
  label: Footer
-->
<footer class="footer p-top-1 p-bottom-5 expand-container js-expand-target">
  <div class="footer__container container">
    <div class="footer__left">
      <div class="footer__menu-wrapper">
        <div class="footer__main-menu">
          <ul class="inline-menu">
            <li class="inline-menu__item">
              <div class="inline-menu__primary-item">
                <div class="inline-menu__item-wrapper">
                  <div class="inline-menu__link-wrapper">
                    <a class="inline-menu__link" href="/">
                      Why Facing History
                      <span class="visually-hidden"></span>
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li class="inline-menu__item">
              <div class="inline-menu__primary-item">
                <div class="inline-menu__item-wrapper">
                  <div class="inline-menu__link-wrapper">
                    <a class="inline-menu__link" href="/">
                      How It Works
                      <span class="visually-hidden"></span>
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li class="inline-menu__item">
              <div class="inline-menu__primary-item">
                <div class="inline-menu__item-wrapper">
                  <div class="inline-menu__link-wrapper">
                    <a class="inline-menu__link" href="/">
                      Teach With Us
                      <span class="visually-hidden"></span>
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li class="inline-menu__item">
              <div class="inline-menu__primary-item">
                <div class="inline-menu__item-wrapper">
                  <div class="inline-menu__link-wrapper">
                    <a class="inline-menu__link" href="/">
                      Get Involved
                      <span class="visually-hidden"></span>
                    </a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="footer__menu">
          <ul class="inline-menu">
            <li class="inline-menu__item">
              <div class="inline-menu__primary-item">
                <div class="inline-menu__item-wrapper">
                  <div class="inline-menu__link-wrapper">
                    <a class="inline-menu__link" href="/">
                      About
                      <span class="visually-hidden"></span>
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li class="inline-menu__item">
              <div class="inline-menu__primary-item">
                <div class="inline-menu__item-wrapper">
                  <div class="inline-menu__link-wrapper">
                    <a class="inline-menu__link" href="/">
                      Ideas this Week
                      <span class="visually-hidden"></span>
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li class="inline-menu__item">
              <div class="inline-menu__primary-item">
                <div class="inline-menu__item-wrapper">
                  <div class="inline-menu__link-wrapper">
                    <a class="inline-menu__link" href="/">
                      Teaching Resources
                      <span class="visually-hidden"></span>
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li class="inline-menu__item">
              <div class="inline-menu__primary-item">
                <div class="inline-menu__item-wrapper">
                  <div class="inline-menu__link-wrapper">
                    <a class="inline-menu__link" href="/">
                      Learning &amp; Events
                      <span class="visually-hidden"></span>
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li class="inline-menu__item">
              <div class="inline-menu__primary-item">
                <div class="inline-menu__item-wrapper">
                  <div class="inline-menu__link-wrapper">
                    <a class="inline-menu__link" href="/">
                      Log In
                      <span class="visually-hidden"></span>
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li class="inline-menu__item">
              <div class="inline-menu__primary-item">
                <div class="inline-menu__item-wrapper">
                  <div class="inline-menu__link-wrapper">
                    <a class="inline-menu__link" href="/">
                      Sign Up
                      <span class="visually-hidden"></span>
                    </a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__branding">
        <img
          class="footer__logo"
          src="https://dev-fhao.pantheonsite.io/themes/custom/fhao/images/logo-white.svg"
          alt="Logo"
        />
        <div class="footer__statement">
          Facing History and Ourselves uses lessons of history to challenge
          teachers and their students to stand up to bigotry and hate
        </div>
      </div>
      <div class="footer__right-mobile">
        <div class="footer__auxiliary-menu">
          <ul class="inline-menu">
            <li class="inline-menu__item">
              <div class="inline-menu__primary-item">
                <div class="inline-menu__item-wrapper">
                  <div class="inline-menu__link-wrapper">
                    <a class="inline-menu__link" href="/">
                      See Our Impact
                      <span class="visually-hidden"></span>
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li class="inline-menu__item">
              <div class="inline-menu__primary-item">
                <div class="inline-menu__item-wrapper">
                  <div class="inline-menu__link-wrapper">
                    <a class="inline-menu__link" href="/">
                      Make a Donation
                      <span class="visually-hidden"></span>
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li class="inline-menu__item">
              <div class="inline-menu__primary-item">
                <div class="inline-menu__item-wrapper">
                  <div class="inline-menu__link-wrapper">
                    <a class="inline-menu__link" href="/">
                      Partner with Us
                      <span class="visually-hidden"></span>
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li class="inline-menu__item">
              <div class="inline-menu__primary-item">
                <div class="inline-menu__item-wrapper">
                  <div class="inline-menu__link-wrapper">
                    <a class="inline-menu__link" href="/">
                      Stay Connected
                      <span class="visually-hidden"></span>
                    </a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="footer__social-menu">
          <ul class="social-menu">
            <li class="social-menu__item">
              <a class="social-menu__link" href="#facebook">
                <svg class="social-menu__icon">
                  <use xlink:href="icons.svg#facebook"></use>
                </svg>
                <span class="social-menu__text visually-hidden"></span>
              </a>
            </li>
            <li class="social-menu__item">
              <a class="social-menu__link" href="#twitter">
                <svg class="social-menu__icon">
                  <use xlink:href="icons.svg#twitter"></use>
                </svg>
                <span class="social-menu__text visually-hidden"></span>
              </a>
            </li>
            <li class="social-menu__item">
              <a class="social-menu__link" href="#linkedin">
                <svg class="social-menu__icon">
                  <use xlink:href="icons.svg#linkedin"></use>
                </svg>
                <span class="social-menu__text visually-hidden"></span>
              </a>
            </li>
            <li class="social-menu__item">
              <a class="social-menu__link" href="#instagram">
                <svg class="social-menu__icon">
                  <use xlink:href="icons.svg#instagram"></use>
                </svg>
                <span class="social-menu__text visually-hidden"></span>
              </a>
            </li>
          </ul>
        </div>
        <div class="footer__nonprofit">
          Facing History and Ourselves is a 501(c)3 nonprofit organization
          <div class="footer__badges">
            <img
              src="https://dev-fhao.pantheonsite.io/themes/custom/fhao/images/global-footer/guidestar-logo.svg"
              alt="Guidestar Gold Transparency 2021"
            />
            <img
              src="https://dev-fhao.pantheonsite.io/themes/custom/fhao/images/global-footer/charity-navigator-logo.svg"
              alt="Charity Navigator 4 Star Charity"
            />
          </div>
        </div>
      </div>
      <p class="footer__location">
        Our headquarters are located at: 16 Hurd Road, Brookline, MA 02445
      </p>
      <div class="footer__legal-menu">
        <ul class="inline-menu">
          <li class="inline-menu__item">
            <div class="inline-menu__primary-item">
              <div class="inline-menu__item-wrapper">
                <div class="inline-menu__link-wrapper">
                  <a class="inline-menu__link" href="/">
                    Diversity, Equity, and Inclusion
                    <span class="visually-hidden"></span>
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li class="inline-menu__item">
            <div class="inline-menu__primary-item">
              <div class="inline-menu__item-wrapper">
                <div class="inline-menu__link-wrapper">
                  <a class="inline-menu__link" href="/">
                    Gift Policy
                    <span class="visually-hidden"></span>
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li class="inline-menu__item">
            <div class="inline-menu__primary-item">
              <div class="inline-menu__item-wrapper">
                <div class="inline-menu__link-wrapper">
                  <a class="inline-menu__link" href="/">
                    Accessibility
                    <span class="visually-hidden"></span>
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li class="inline-menu__item">
            <div class="inline-menu__primary-item">
              <div class="inline-menu__item-wrapper">
                <div class="inline-menu__link-wrapper">
                  <a class="inline-menu__link" href="/">
                    Privacy &amp; GDPR
                    <span class="visually-hidden"></span>
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li class="inline-menu__item">
            <div class="inline-menu__primary-item">
              <div class="inline-menu__item-wrapper">
                <div class="inline-menu__link-wrapper">
                  <a class="inline-menu__link" href="/">
                    Terms &amp; Conditions
                    <span class="visually-hidden"></span>
                  </a>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <p class="footer__copyright">
        Copyright © 2022 Facing History and Ourselves.
      </p>
    </div>
    <div class="footer__right">
      <div class="footer__auxiliary-menu">
        <ul class="inline-menu">
          <li class="inline-menu__item">
            <div class="inline-menu__primary-item">
              <div class="inline-menu__item-wrapper">
                <div class="inline-menu__link-wrapper">
                  <a class="inline-menu__link" href="/">
                    See Our Impact
                    <span class="visually-hidden"></span>
                  </a>
                </div>
              </div>
            </div>
          </li>

          <li class="inline-menu__item">
            <div class="inline-menu__primary-item">
              <div class="inline-menu__item-wrapper">
                <div class="inline-menu__link-wrapper">
                  <a class="inline-menu__link" href="/">
                    Make a Donation
                    <span class="visually-hidden"></span>
                  </a>
                </div>
              </div>
            </div>
          </li>

          <li class="inline-menu__item">
            <div class="inline-menu__primary-item">
              <div class="inline-menu__item-wrapper">
                <div class="inline-menu__link-wrapper">
                  <a class="inline-menu__link" href="/">
                    Partner with Us
                    <span class="visually-hidden"></span>
                  </a>
                </div>
              </div>
            </div>
          </li>

          <li class="inline-menu__item">
            <div class="inline-menu__primary-item">
              <div class="inline-menu__item-wrapper">
                <div class="inline-menu__link-wrapper">
                  <a class="inline-menu__link" href="/">
                    Stay Connected
                    <span class="visually-hidden"></span>
                  </a>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="footer__social-menu">
        <ul class="social-menu">
          <li class="social-menu__item">
            <a class="social-menu__link" href="#facebook">
              <svg class="social-menu__icon">
                <use xlink:href="icons.svg#facebook"></use>
              </svg>
              <span class="social-menu__text visually-hidden"></span>
            </a>
          </li>

          <li class="social-menu__item">
            <a class="social-menu__link" href="#twitter">
              <svg class="social-menu__icon">
                <use xlink:href="icons.svg#twitter"></use>
              </svg>
              <span class="social-menu__text visually-hidden"></span>
            </a>
          </li>

          <li class="social-menu__item">
            <a class="social-menu__link" href="#linkedin">
              <svg class="social-menu__icon">
                <use xlink:href="icons.svg#linkedin"></use>
              </svg>
              <span class="social-menu__text visually-hidden"></span>
            </a>
          </li>

          <li class="social-menu__item">
            <a class="social-menu__link" href="#instagram">
              <svg class="social-menu__icon">
                <use xlink:href="icons.svg#instagram"></use>
              </svg>
              <span class="social-menu__text visually-hidden"></span>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__nonprofit">
        Facing History and Ourselves is a 501(c)3 nonprofit organization
        <div class="footer__badges">
          <img
            src="global-footer/guidestar-logo.svg"
            alt="Guidestar Gold Transparency 2021"
          />
          <img
            src="global-footer/charity-navigator-logo.svg"
            alt="Charity Navigator 4 Star Charity"
          />
        </div>
      </div>
    </div>
  </div>
</footer>
