{# Module styles #}

{# {% require_css %}
  <style>
    {% scope_css %}

     

    {% end_scope_css %}
  </style>
{% end_require_css %} #}

{# Sets attributes used for the link field #}

{% set href = module.button_link.url.href %}
{% if module.button_link.url.type is equalto "EMAIL_ADDRESS" %}
  {% set href = "mailto:" + href %}
{% endif %}
{% set rel = [] %}
{% if module.button_link.no_follow %}
  {% do rel.append("nofollow") %}
{% endif %}
{% if module.button_link.open_in_new_tab %}
  {% do rel.append("noopener") %}
{% endif %}

{# Pricing card #}

<section class="card card--pricing">
  {% if module.tier and module.description %}
    <div class="card__header">
      {% if module.tier %}
        {{ module.tier }}
      {% endif %}
      {% if module.description %}
        {{ module.description }}
      {% endif %}
    </div>
  {% endif %}
  <hr class="card__hr">
  <div class="card__body">
    <ul class="card__features">
      {% for feature in module.features %}
        <li class="card__feature-item">
          {% icon
            extra_classes="card__icon",
            name="{{ module.feature_icon.name }}",
            purpose="decorative",
            style="{{ module.feature_icon.type }}",
            unicode="{{ module.feature_icon.unicode }}"
          %}{{ feature }}
        </li>
      {% endfor %}
    </ul>
    <hr class="card__hr">
    <p class="card__price">{{ module.price }}{{ module.timeframe }}</p>
    <div class="card__button-wrapper button-wrapper">
      <a class="card__button button" href="{{ href }}"
        {% if module.button_link.open_in_new_tab %}target="_blank"{% endif %}
        {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}>
          {{ module.button_text }}
      </a>
    </div>
  </div>
</section>
