.subscription-preferences {
  #main-content {
    background-color: #F6F7F7;
  }

  .page-header {
    font-family: $font-primary;
  }

  .page-header h2 {
    color: #252525;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -0.25px;
    line-height: 1.6667;
  }
}