.subscription-preferences {
  #main-content {
    background-color: #F6F7F7;
  }

  #main-content .systems-page {
    max-width: calc(1200px + 80px);
    padding-bottom: 120px;
  }

  .page-header {
    font-family: $font-primary;
    font-size: 20px;
    line-height: 1.75;
    padding-left: 20px;
    position: relative;
  }

  .page-header h1 {
    font-family: $font-primary;
    font-size: 60px;
    font-weight: 800;
    letter-spacing: -1px;
    line-height: 1.1667;
    margin-bottom: 26px;
    margin-top: 0;

    @media screen and (max-width: 1200px) {
      font-size: 50px;
    }

    @media screen and (max-width: 650px) {
      font-size: 42px;
    }

    @media screen and (max-width: 480px) {
      font-size: 35px;
    }
  }

  .page-header h2 {
    color: #252525;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -0.25px;
    line-height: 1.6667;
  }

  .page-header::before {
    background-color: #25a6ac;
    content: '';
    height: calc(100% + 100px + 10px);
    left: -15px;
    opacity: 0.25;
    position: absolute;
    // top: -10px;
    width: 1px;
  }

  .page-header h1::after {
    background-color: #25a6ac;
    content: '';
    height: 1px;
    left: -500px;
    opacity: 0.25;
    position: absolute;
    top: 160px;
    width: calc(520px + 15vw);
  }

  #content.email-prefs p.header {
    font-family: $font-primary;
    font-size: 20px;
    line-height: 1.75;
    margin-bottom: 80px;
    padding-left: 20px;
  }

  #content.email-prefs .subscribe-options p.header {
    font-family: $font-secondary;
    font-size: 17px;
    line-height: 1.7657;
    margin-bottom: 10px;
    padding-left: 0;
  }

  #content.email-prefs .subscribe-options label[for="globalunsub"] {
    margin-bottom: 65px;
  }

  #content.email-prefs .subscribe-options label[for="globalunsub"] span {
    font-family: $font-secondary;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.6667;
  }

  #content .subscribe-options {
    margin-left: 10%;
  }

  #content .item {
    background: #FFFFFF;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.04), 0 0 2px 0 rgba(0,0,0,0.06), -2px 6px 24px 0 rgba(0,0,0,0.06);
    border-radius: 4px;
    margin-bottom: 25px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 32px 80px 45px 40px;

    .item-inner p {
      font-family: $font-secondary;
      font-size: 15px;
      line-height: 1.6667;
      padding-left: 50px;
    }

    .checkbox-row {
      font-family: $font-primary;
      font-size: 20px;
      font-weight: 700;
      line-height: 1.35;
      margin-bottom: 15px;

      input[type="checkbox"]:before{
        position: relative;
        display: block;
        width: 32px;
        height: 32px;
        border: 1px solid #007E87;
        content: "";
        background: #FFFFFF;
        top: -11px;
        border-radius: 4px;
      }

      input[type="checkbox"]:after{
        position: relative;
        display: block;
        left: 0px;
        top: -43px;
        width: 32px;
        height: 32px;
        border: 1px solid #007E87;
        content: "";
        background-repeat: no-repeat;
        background-position:center;
        border-radius: 4px;
      }

      input[type="checkbox"]:checked:after{
        background-image:  url('https://443401.fs1.hubspotusercontent-na1.net/hubfs/443401/Email%20Subscription%20Preferences/checkbox-teal.svg');
      }

      span.fakelabel span {
        &:first-of-type {
          margin-left: 25px;

          @media screen and (max-width: 768px) {
            display: flex;
            margin-left: 50px;
            margin-top: -30px;
          }
        }
        @media screen and (max-width: 768px) {
          //display: inline-block;
          //margin-left: 50px;
          //margin-top: -40px;
        }

      }
    }
  }

  #submitbutton {
    background-color: $blue-light;
    margin-left: 10%;
  }
}